{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-classnames",
    "prettier-plugin-merge"
  ],
  "singleAttributePerLine": true,
  "printWidth": 50,
  "endingPosition": "absolute-with-indent"
}
